{% extends "base.html.twig" %}

{% block content %}
    <div class="window">
        <img class="logo" src="https://avatars2.githubusercontent.com/u/13888974?s=200&v=4">
        <div class="name">odango.moe</div>
        <div class="search">
            <input type="text" placeholder="Anime title...">
            <!--<button>search</button>-->
        </div>
    </div>
{% endblock %}